.menu-title {
  margin-bottom: 24px;
}

.menuItem {
  width: 100%;
  height: 80px;
  @include flex(row, center, space-between, null, null);
  margin-top: 1rem;

  .menuItem_info {
    @include flex(column);
    gap: 4px;
    min-width: 200px;

    .menuItem_name {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.02em;
      color: var(--greyscale-color-600);
      line-height: 20px;
    }

    .menuItem_price {
      font-size: 14px;
      font-weight: normal;
      letter-spacing: -0.02em;
      color: var(--greyscale-color-400);
      line-height: 18px;
    }
  }

  &_label {
    font-size: 10px;
    font-weight: bold;
    height: 19px;
    padding: 2px 6px;
    border-radius: 4px;
    display: inline-block;
    width: 37px;
    letter-spacing: -0.02em;
    @include flex(column, center, null, null, null);

    &.best {
      background-color: var(--main-color-500);
      color: var(--sub-color-100);
    }
    &.new {
      background-color: var(--system-color-green);
      color: var(--sub-color-100);
    }
    &.soldout {
      background-color: var(--greyscale-color-500);
      color: var(--greyscale-color-100);
    }
  }

  .menuItem_image {
    position: relative;
    img {
      width: 80px;
      height: 80px;
      border-radius: 4px;
    }
  }

  &.soldout {
    .menuItem_info .menuItem_name {
      color: var(--greyscale-color-300);
    }
    .menuItem_info .menuItem_price {
      color: var(--greyscale-color-300);
    }

    .menuItem_image img {
      opacity: 0.2;
    }
  }
}
