// assets/css/style.scss
.tabmenu_container {
  background: linear-gradient(270deg, #ffff 35%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox 스크롤바 없애기 */
  -ms-overflow-style: none; /* IE and Edge 스크롤바 없애기  */

  &::-webkit-scrollbar {
    /* WebKit-based browsers */
    display: none;
  }

  .tabMenu {
    width: fit-content;
    min-width: 100%;
    padding: 0;
    height: 42px;
    // overflow-x: auto;
    white-space: nowrap;
    @include flex(row, null, null, null, null);
    position: relative;

    .slick-slide {
      @include flex(null, center, center, null, null);
    }

    .tab {
      padding: 8px 12px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.02em;
      line-height: 24px;
      color: var(--greyscale-color-400);
      position: relative;
      @include flex(column, center, center, null, null);
      flex: 1;
      cursor: pointer;

      &.selected {
        color: var(--greyscale-color-600);
      }
    }

    .tab-highlight {
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: var(--system-color-red);
      transition: transform 0.3s ease, width 0.3s ease;
      width: 0;
    }

    &:not(.tab-highlight)::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--greyscale-color-200);
      position: absolute;
      top: 40px;
      left: 0;
    }
  }
}
