:root {
    --color-main-blue: #0064FF;
    --color-main-green: #48C223;
    --color-main-white: #f2f2f2;

    --color-grayscale-200: #222222;
    --color-grayscale-400: #444444;
    --color-grayscale-800: #888888;

    --color-sys-red: #F5656A;
    --color-sys-blue: #329EFF;
}