:root {
  --font: "Spoqa Han Sans Neo";

  --main-color-100: #ffedeb;
  --main-color-200: #ffd8d2;
  --main-color-300: #fdafa3;
  --main-color-400: #ff8976;
  --main-color-500: #f76f5a; // 기본값
  --main-color-600: #ea624e;

  --sub-color-100: #edfdf4;
  --sub-color-200: #cafce7;
  --sub-color-300: #95edc8;
  --sub-color-400: #6cdeae;
  --sub-color-500: #4cdfa2; // 기본값
  --sub-color-600: #3dca8f;

  --greyscale-color-000: #ffffff;
  --greyscale-color-100: #eff2fa;
  --greyscale-color-200: #d8def1;
  --greyscale-color-300: #959db3;
  --greyscale-color-400: #707689;
  --greyscale-color-500: #414247;
  --greyscale-color-600: #252629; // 기본값

  --system-color-red: #e45454;
  --system-color-green: #4cdfa2;
  --system-color-grey: #959db3;
}
