:root {
    --main-color-100: #FFEDEB;
    --main-color-200: #FFD8D2;
    --main-color-300: #FDAFA3;
    --main-color-400: #FF8976;
    --main-color-500: #F76F5A;
    --main-color-600: #EA624E;

    --sub-color-100: #EDFDF4;
    --sub-color-200: #CAFCE7;
    --sub-color-300: #95EDC8;
    --sub-color-400: #6CDEAE;
    --sub-color-500: #4CDFA2;
    --sub-color-600: #3DCA8F;

    --greyscale-color-100: #EFF2FA;
    --greyscale-color-200: #D8DEF1;
    --greyscale-color-300: #959DB3;
    --greyscale-color-400: #707689;
    --greyscale-color-500: #414247;
    --greyscale-color-600: #252629;

    --system-color-red: #E45454;
    --system-color-green: #4CDFA2;
    --system-color-grey: #959DB3;
}